## Correlation Testing for Attrition data

In [32]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import os
from scipy.stats import pointbiserialr
from scipy.stats import pearsonr
import matplotlib.pyplot as plt

In [26]:
pwd

'C:\\Users\\mansi dobhal'

In [47]:
df = pd.read_csv('general_data.csv')

In [48]:
df.head(5)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [33]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [51]:
df.Attrition.replace(to_replace= ('No', 'Yes'), value = (0,1), inplace= True)

In [53]:
df.Attrition

0       0
1       1
2       0
3       0
4       0
       ..
4405    0
4406    0
4407    0
4408    0
4409    0
Name: Attrition, Length: 4410, dtype: int64

### Hypothesis 1

#### H0 = Attrition and Distance from Home have no correlation.
#### Ha = Attrition and Distance from Home have correlation.

In [60]:
stats,p = pearsonr(df.Attrition, df.DistanceFromHome)
print("r= ", stats, " & p= ", p)

r=  -0.009730141010179674  & p=  0.5182860428050771


_p value being > 0.05 makes us accept our null hypotheses, H0._ 

##### _Hence, there is no correlation between attrition and distance from home._

## Hypothesis 2

#### H0 = Attrition and Salary Hike Percentage have no correlation.
#### Ha =  Attrition and Salary Hike Percentage have correlation.

In [64]:
stats,p = pearsonr(df.Attrition, df.PercentSalaryHike)
print("r= ", stats, " & p= ", p)

r=  0.03253259489105349  & p=  0.030743386433355353


_Further, p value being < 0.05 rejects our null hypotheses, H0._ 

_As r is positive,hence there could exists a positive relationship between attrition and salary percentage hike._

##### _Hence, there is a positive correlation between attrition and percent salary hike_

## Hypothesis 3

#### H0 = Attrition and Job Level have no correlation.
#### Ha =  Attrition and Job Level have correlation.

In [72]:
stats,p = pearsonr(df.Attrition, df.JobLevel)
print("r= ", stats, " & p= ", p)

r=  -0.010289713287495042  & p=  0.49451717271828405


_p value being > 0.05 makes us accept our null hypotheses, H0._ 

##### _Hence, there is no correlation between attrition and job level._

## Hypothesis 4

#### H0 = Attrition and Monthly Income have no correlation.
#### Ha =  Attrition and Monthly Income have correlation.

In [67]:
stats,p = pearsonr(df.Attrition, df.MonthlyIncome)
print("r= ", stats, " & p= ", p)

r=  -0.031176281698115007  & p=  0.03842748490600132


_Further, p value being < 0.05 reject our null hypotheses, H0._ 

_As r is negative,hence there could exists a negative relationship between attrition and Monthly Income._

##### _Hence, there is a negative correlation between attrition and monthly income._

## Hypothesis 5

#### H0 = Attrition and Age have no correlation.
#### Ha =  Attrition and Age have correlation.

In [68]:
stats,p = pearsonr(df.Attrition, df.Age)
print("r= ", stats, " & p= ", p)

r=  -0.15920500686577965  & p=  1.996801615886744e-26


_Further, p value being < 0.05 makes us reject our null hypotheses, H0._ 

_As r is negative,hence there could exists a negative relationship between attrition and age._

##### _Hence, there is a negative correlation between attrition and age._

## Hypothesis 6

#### H0 = Attrition and Years at Company have no correlation.
#### Ha =  Attrition and Years at Company have correlation.

In [71]:
stats,p = pearsonr(df.Attrition, df.YearsAtCompany)
print("r= ", stats, " & p= ", p)

r=  -0.1343922139899772  & p=  3.1638831224877484e-19


_Further, p value being < 0.05 makes us reject our null hypotheses, H0._ 

_As r is negative,hence there could exists a negative relationship between attrition and years at company._

##### _Hence, there is a negative correlation between attrition and years at company_

## Hypothesis 7

#### H0 = Attrition and Gender have no correlation.
#### Ha =  Attrition and Gender have correlation.

In [81]:
label_gender= {"Female" : 0, "Male" : 1}
gen= df.Gender.copy()
gen= gen.map(label_gender)
stats,p = pearsonr(df.Attrition, gen)
print("r= ", stats, " & p= ", p)

r=  0.018125078877010238  & p=  0.22881970951795952


_p value being > 0.05 makes us accept our null hypotheses, H0._ 

##### _Hence, there is no correlation between attrition and gender._

## Hypothesis 8

#### H0 = Attrition and Business Travel have no correlation.
#### Ha =  Attrition and Business Travel have correlation.

In [89]:
df.BusinessTravel.unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [88]:
label_travel= {"Travel_Rarely" : 0, "Travel_Frequently" : 1, "Non-Travel" : 2}
travel= df.BusinessTravel.copy()
travel= travel.map(label_travel)
stats,p = pearsonr(df.Attrition, travel)
print("r= ", stats, " & p= ", p)

r=  -7.377694602224514e-05  & p=  0.9960919945437704

_p value being > 0.05 makes us accept our null hypotheses, H0._ 

##### _Hence, there is no correlation between attrition and business travel._

## Hypothesis 9

#### H0 = Attrition and Training last year have no correlation.
#### Ha =  Attrition and Tranining last year have correlation.

In [99]:
stats,p = pearsonr(df.Attrition, df.TrainingTimesLastYear)
print("r= ", stats, " & p= ", p)

r=  -0.049430576244255  & p=  0.0010247061915365072


_Further, p value being < 0.05 makes us reject our null hypotheses, H0._ 

_As r is negative,hence there could exists a negative relationship between attrition and number of training last year._

##### _Hence, there is a negative correlation between attrition and number of training last year._

## Hypothesis 10

#### H0 = Attrition and StockOptionLevel have no correlation.
#### Ha =  Attrition and StockOptionLevel have correlation.

In [102]:
stats,p = pearsonr(df.Attrition, df.StockOptionLevel)
print("r= ", stats, " & p= ", p)

r=  -0.006838852403261513  & p=  0.6498072937475723

_p value being > 0.05 makes us accept our null hypotheses, H0._ 

##### _Hence, there is no correlation between attrition and stock option level._