In [34]:
import pandas as pd
import numpy as np 
from sklearn import tree
from sklearn import preprocessing

In [35]:
train = pd.read_csv(r'C:\Users\mansi\Documents\LetsUpgrade\Day 24\Decision_Tree_HR_Attrition\HR_data.csv')
train.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [36]:
train.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [37]:
train["NumCompaniesWorked"].mean()

2.6948303347756775

In [38]:
train["TotalWorkingYears"].mean()

11.279936378095888

In [39]:
train["NumCompaniesWorked"]= np.where(train["NumCompaniesWorked"].isnull(),2,train["NumCompaniesWorked"])

In [40]:
train["TotalWorkingYears"]= np.where(train["TotalWorkingYears"].isnull(),11,train["TotalWorkingYears"])

In [41]:
train.isna().sum().sum()

0

In [42]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
train.describe().T #Removing attributes with 0 std.

,count,mean,std,min,25%,50%,75%,max
Age,4410.0,36.923810,9.133301,18.0,30.00,36.0,43.00,60.0
DistanceFromHome,4410.0,9.192517,8.105026,1.0,2.00,7.0,14.00,29.0
Education,4410.0,2.912925,1.023933,1.0,2.00,3.0,4.00,5.0
EmployeeCount,4410.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeID,4410.0,2205.500000,1273.201673,1.0,1103.25,2205.5,3307.75,4410.0
JobLevel,4410.0,2.063946,1.106689,1.0,1.00,2.0,3.00,5.0
MonthlyIncome,4410.0,65029.312925,47068.888559,10090.0,29110.00,49190.0,83800.00,199990.0
NumCompaniesWorked,4410.0,2.691837,2.493912,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,4410.0,15.209524,3.659108,11.0,12.00,14.0,18.00,25.0
StandardHours,4410.0,8.000000,0.000000,8.0,8.00,8.0,8.00,8.0
StockOptionLevel,4410.0,0.793878,0.851883,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,4410.0,11.279365,7.774286,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,4410.0,2.799320,1.288978,0.0,2.00,3.0,3.00,6.0
YearsAtCompany,4410.0,7.008163,6.125135,0.0,3.00,5.0,9.00,40.0
YearsSinceLastPromotion,4410.0,2.187755,3.221699,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,4410.0,4.123129,3.567327,0.0,2.00,3.0,7.00,17.0

 #### We don't require 'StandardHours','EmployeeCount','EmployeeID','Over18' as they have 0 std or of no use.

In [44]:
label_encoder = preprocessing.LabelEncoder()
train['Gender'] = label_encoder.fit_transform(train['Gender'])
train['Attrition'] = label_encoder.fit_transform(train['Attrition'])

In [45]:
train["BusinessTravel"]=label_encoder.fit_transform(train["BusinessTravel"])

train["Department"]=label_encoder.fit_transform(train["Department"])
train["EducationField"]=label_encoder.fit_transform(train["EducationField"])

In [46]:
train["JobRole"]=label_encoder.fit_transform(train["JobRole"])

train["MaritalStatus"]=label_encoder.fit_transform(train["MaritalStatus"])

In [50]:
train.info() #chechking if any onject left to encode

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   int32
 2   BusinessTravel           4410 non-null   int32
 3   Department               4410 non-null   int32
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   int32
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   int32
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   int32
 12  MaritalStatus            4410 non-null   int32
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4410 non-null   float64
 15  Over18                   4410 non-null   int32
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4410 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int32(8), int64(14)
memory usage: 689.2 KB

In [51]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [52]:
features=['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [53]:
rf_model.fit(X=train[features],y=train["Attrition"])

RandomForestClassifier(max_features=2, n_estimators=1000, oob_score=True)

In [56]:
print(f"Accuracy : {rf_model.oob_score_}")

Accuracy : 0.9997732426303855

In [57]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

Age 0.09296997033277325
BusinessTravel 0.027104551300843865
Department 0.025595625362684195
DistanceFromHome 0.06639084732006868
Education 0.03912084624843867
EducationField 0.04025084461038826
EmployeeCount 0.0
EmployeeID 0.037302025747956775
Gender 0.017289332222695984
JobLevel 0.036244607498204774
JobRole 0.05321766615099039
MaritalStatus 0.03880374018318271
MonthlyIncome 0.08806428423895696
NumCompaniesWorked 0.05449323033661348
Over18 0.0
PercentSalaryHike 0.06270954881676209
StandardHours 0.0
StockOptionLevel 0.03285663900579673
TotalWorkingYears 0.08199137387754171
TrainingTimesLastYear 0.04321636466595572
YearsAtCompany 0.06685955044199127
YearsSinceLastPromotion 0.041757065305659834
YearsWithCurrManager 0.05376188633249472

In [58]:
treemodel=tree.DecisionTreeClassifier(max_depth=6)

In [60]:
data=pd.DataFrame([train["TotalWorkingYears"],train["Age"],train["MonthlyIncome"]]).T

In [61]:
treemodel.fit(X=data,y=train["Attrition"])

DecisionTreeClassifier(max_depth=6)

In [62]:
with open("decision_tree_2.dot",'w')as f:
    f=tree.export_graphviz(treemodel,feature_names=["TotalWorkingYears","Age","MonthlyIncome"],out_file=f);

In [64]:
treemodel.score(X=data,y=train["Attrition"])

0.8650793650793651